{{define "content"}}
<script src=" ../static/js/tablesearch.js"></script>

<form onkeyup="searchTable()" style="padding-bottom:10px" align="left" action = "/" method = "post">
		<input type="text" id="search" placeholder="Type to search">
        <input type="submit" name="refresh" value="Refresh File List" />
        <a class="button grey" href="/?grp=">Hide Folders</a>
</form>

<table id="omx-table">
    {{$prev := ""}}
    {{range $index, $file := .MovieList}}
        {{if ne $prev .Folder}}
        <tr><td class="title">{{.Folder}}</td></tr>
        {{end}}
        <tr><td><small><a href="/movie?movie={{.FullFilePath}}">{{.FileName}}</a></small></td></tr>
        {{$prev = .Folder}}
    {{end}}
</table>
{{end}}
